* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    width: 100%;
    background: black;
    display: flex;
}

.header__logo {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-top: 56px;
    font-weight: 800;
    cursor: pointer;
    margin-left: 12%;
}
nav {
    margin-top: 56px;
    margin-left: 29%;
}
.topnav a {
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}
.topnav .icon {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main__welcome {
    background: #000;
    text-align: center;
    padding: 200px 0 410px 0;
}
main .main__welcome p {
    color: #999;
    font-size: 20px;
}
main .main__welcome h1 {
    color: #999;
    font-size: 44px;
}
.mycompany {
    color: #fcac45;
    font-weight: bolder;   
}
.wrapper {
    width: 86%;
    margin: 0 auto;
}
main .main-about {
    padding: 100px 0 100px 0;
    display: flex;
}
.about-right {
    margin-left: 165px;
}
.about-right h1 {
    display: inline-block;
    flex-wrap: nowrap;
    border-bottom: 3px solid #fcac45;   
    padding-bottom: 20px;
}
.about-right p {
    margin: 30px 0 50px 0;
    color: #6c6c6c;
    max-width: 410px;
}
.about-right li {
    background: url(IMG/.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
    color: #6c6c6c;
} 
.mw-100 {
    min-width: 100%;
}
.some_words {
    font-weight: 200;
}
.about_us {
    font-weight: 800;
}
.main__team {
    background: #000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: white;
}
.main__team h1 {
    font-size: 44px;
    padding-bottom: 30px;
}
/*.line {
    width: 100px;
    height: 3px;
    background-color: #fcac45;
    position: relative;
    left: 45.5%;
    margin-bottom: 85px;
}*/
.team-cards {
    display: flex;
}
.photo {
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}
.name {
    font-size: 20px;
    margin-bottom: 7px;
}
.position {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 35px;
}
.about_position {
    font-size: 14px;
}
.card {
    margin: 0 40px;
}
.services__cards {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}
.main__services h1 {
    text-align: center;
    padding: 100px 0 30px 0;
}
.main__services p {
    color: #c6c6c6;
    margin-bottom: 100px;
}
.services-card h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.main__clients {
    background: #000;
    padding: 100px 0 200px 0;
    color: #fff;
    text-align: center;
}
.main__clients h1 {
    margin-bottom: 30px;
}
.main__clients img {
    margin-left: 30px;
    margin-top: 10px;
}
.main__testimonials {
    background: #000;
    color: white;
    padding: 100px 0 175px 0;
    text-align: center;
    border-top: 1px solid #fff;

}
.main__testimonials h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.main__testimonials .line {
    margin-bottom: 115px;
}
.opinion {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.author {
    color: #a2a2a2;
}
.main__work {
    text-align: center;
    padding: 100px 0 100px 0;
}
.main__work h1 {
    margin-bottom: 30px;
}
.main__work p {
    margin-bottom: 175px;
    color: #6c6c6c;
}
.main__work img:hover {
    opacity: 0.9;
}
.line3 img {
    width: 263px;
    height: 238px;
}
.contact__form h1,p {
    text-align: center;
}
.contact__wrapper {
    width: 753px;
    margin: 0 auto;
    color: #636363;
    padding-top: 100px;
}
.contact__wrapper h1 {
    color: #000;
    margin-bottom: 30px;
}
form p{
    text-align: left;
}

input {
    width: 360px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}
.red {
    color: red;
}
.form-inputs {
    display: flex;
    margin-top: 100px;
}
textarea {
    width: 100%;
    height: 163px;
}
input, textarea {
    border: 1px solid #999;
    margin-top: 5px;
}
input:first-of-type {
    margin-right: 24px;
}
.button__block {
    display: flex;
    justify-content: flex-end;
}
input[type=submit] {
    width: 165px;
    height: 40px;
    background: #fcac45;
    color: #fff;
    margin-right: 0;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    margin-top: 20px;
}
h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    padding-top: 30px;
    border-bottom: 3px solid #fcac45;
}
.main__welcome h1:after, .about-right h1:after {
    display: none;
}
footer {
    width: 100%;
    height: auto;
    background: #222;
    padding: 30px 0 30px 0;
}
.social {
    display: flex;
    justify-content: center;
 
}
.social img {
    margin-left: 12px;
}
.social img:hover {
    opacity: 0.6;
}

















@media screen and (max-width: 1200px) {
    nav {
        margin-left: 20%;
    }
}
@media screen and (max-width: 1105px) {
    nav {
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: white;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon {
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    main .main__welcome {
    padding: 50px 0 50px 0;
    }
    main .main__welcome p {
    font-size: 14px;
    }
    main .main__welcome h1 {
        font-size: 25px;
    }
    .mw-100 {
    max-width: 100%;
    }
    .main-about {
        flex-direction: column;
    }
    .about-right {
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column;
    }
    .about-right p {
        max-width: 100%;
        text-align: center;
    }
    .about-right li {
        text-align: left;
    }
    .about-right h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .team-cards {
        flex-direction: column;
    }

    .services__cards {
        grid-template-columns: auto;
    }

    .line1 img:not(:first-child) {
        display: none;
    }
    .line2 img:not(:first-child) {
        display: none;
    }
    .line3 img:not(:first-child) {
        display: none;
    }
    .contact__wrapper {
        display: block;
        width: auto;
        padding: 20px;
    } 
    .form-inputs {
        display: block;
        flex-direction: column;
    }
    input {
        width: 100%;
        display: block;
    }
    footer .social {
        max-width: 100%;
        display: block;
    }
}
    






















